# Ignore virtual environment folder
venv/

# Ignore PyCharm project files
.idea/
tests/requirements.txt
tests/tests.Dockerfile

# Ignore Python cache files
__pycache__/
*.pyc

# Ignore macOS specific files
.DS_Store